@layer base {
  @font-face {
    font-family: 'Metropolis';
    src: url('./fonts/metropolis/Metropolis-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'Metropolis';
    src: url('./fonts/metropolis/Metropolis-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Metropolis';
    src: url('./fonts/metropolis/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Metropolis';
    src: url('./fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Metropolis';
    src: url('./fonts/metropolis/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }
}
